<!DOCTYPE html>
<html lang="fr">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Merienda&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../css/style2.css">
    <title>JeromeSmiel</title>
</head>

<body>

    <main>

        <h1 id="titleBook">
           Mes Créations visuelles : Tome 1 !
        </h1>

        <div class="container">

            <div class="carousel">

                <input type="radio" id="carousel-1" name="carousel[]" checked>
                <input type="radio" id="carousel-2" name="carousel[]">
                <input type="radio" id="carousel-3" name="carousel[]">
                <input type="radio" id="carousel-4" name="carousel[]">
                <input type="radio" id="carousel-5" name="carousel[]">

              <ul class="carousel__items">

                <li class="carousel__item"><img src="../image/tome1/gandorr1.jpg" alt=""></li>

                <li class="carousel__item"><img src="../image/tome1/amesoeur.jpg" alt=""></li>

                <li class="carousel__item"><img src="../image/tome1/dessin.jpg" alt=""></li>

                <li class="carousel__item"><img src="../image/tome1/diapo illus roman 1.gif" alt=""></li>

                <li class="carousel__item"><img src="../image/tome1/Diapositive2.JPG" alt=""></li>

              </ul>

                <div class="carousel__prev">

                    <label for="carousel-1"></label>
                    <label for="carousel-2"></label>
                    <label for="carousel-3"></label>
                    <label for="carousel-4"></label>
                    <label for="carousel-5"></label>

                </div>

                <div class="carousel__next">

                    <label for="carousel-1"></label>
                    <label for="carousel-2"></label>
                    <label for="carousel-3"></label>
                    <label for="carousel-4"></label>
                    <label for="carousel-5"></label>

                </div>

                <div class="carousel__nav">

                    <label for="carousel-1"></label>
                    <label for="carousel-2"></label>
                    <label for="carousel-3"></label>
                    <label for="carousel-4"></label>
                    <label for="carousel-5"></label>

                </div>

            </div>

        </div>

    </main>


</body>
</html>